:root{
  --bs-tableblue: #4a6483;
}

*{
  box-sizing: border-box;
}
html,body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--bs-font-sans-serif);
  font-size: 14px;
}
a{text-decoration: none;}

ul li{
list-style-type: none;
}

input{
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {  -webkit-appearance: none;  margin: 0;}
/* Firefox */input[type=number] {  -moz-appearance: textfield;}

button{
  border:1px solid transparent;
  background-color: transparent;
}
.text-green{
  color: #00bb89;
}

.text-red{
  color: #ff5f5f;
}
.animation-click{
  transition: 0.15s ease-in-out;

  &:active{
    transform: translateY(2px);
  }
}
nav{
  height: 62px;
  background-color: #222222;
  width: 100%;
}

main{
  width: 100%;
  height:calc(100vh - 62px);
  background-color: #efefef;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
/* 捲軸寬度及高度 */
main::-webkit-scrollbar {
  width: 10px; /*右側捲軸寬度*/
  height: 10px;
}
/* 軌道背景底色 */
main::-webkit-scrollbar-track {
  background: #9999992a;
  border-radius: 15px;
}
 
/* 滑桿顏色 */
main::-webkit-scrollbar-thumb {
  background: #c5c5c7; 
  border-radius: 15px;
}
/* 滑桿滑鼠滑入時的顏色 */
main::-webkit-scrollbar-thumb:hover {
  background: #b7b7bb; 
}
/* 捲軸兩側頂端的按鈕 */
main::-webkit-scrollbar-button {
  /*background-color: #a73d1a;*/
  height: 0;
}
/* 捲軸兩側頂端的按鈕滑鼠滑入時的顏色 */
main::-webkit-scrollbar-button:hover {
  background-color: transparent;
}

/*************************** 個別設定 **************************/

.navbtn{
    display: inline-block;
    height: 100%;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    border-bottom: 0px solid #fff;
    padding: 0;
    font-size: 1rem;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-bottom .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navbtn:hover{
  border-bottom: 5px solid #fff;
}

.navbtn-color{
  color: #8a8e99;
  cursor: pointer;
  transition: .15s ease-in-out;
  &:hover{
    color: #ffffff; 
  }
}

.navicon{
  display: flex;
  height: 35px;
  padding: 0rem 1rem;
  /*border: 1px solid;*/
  color: #8a8e99;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: .15s ease-in-out;
  background-color: #222222;
  cursor: pointer;

  &:hover{
    color: #ffffff;
    background-color: #333333;
    /*box-shadow: 0 0 0 4px #111111,0 0 0 5px #c5c5c5;*/
  }
}

.toast{
  width: 250px;
}


.mixinput{
  position: relative;
  margin-bottom: 2rem;

  & p{
    position: absolute;
    white-space: nowrap;
    left: 1rem;
    margin: 0;
    padding: 0 4px;
    background-color: #fff;
    font-size: 14px;
    color: #666666;
    top: -12px;
    z-index: 3;
    font-size: 12px;

    & span{
      color: var(--bs-red);
      margin-left: 3px;
    }
  }

  & input{
    height: 40px;
    width: 100%;
    border: 1px solid #ced4da;
    padding: 8px 16px;
    border-radius: 3px;
  }
  & input:focus{
    box-shadow:0 0 0 3px #8cb8ffb7;
    border-color: transparent;
  }

  & select{
    padding: 8px 16px;
  }

  & textarea{
    min-height: 86px;
    width: 100%;
    border: 1px solid #ced4da;
    padding: 8px 16px;
    border-radius: 3px;
  }

  & ::placeholder {
    color: #0000002c;
  }
}

.inputIssues{
  border-color: #ff7171 !important;
  animation: inputIssues 0.1s;
  animation-iteration-count: 3;
}
@keyframes inputIssues{
  0% {transform: translateX(-1px);}
  50% {transform: translateX(1px);}
  100% {transform: translateX(0px);}
}

#funcServices-button,#EmailNotificationServices-button,#MaxSetup-button,#SubscribedModules-button{
  font-size: 21px;
  padding: 0px 5px;
  transition: 0.3s;
  transform-origin: center center;

  &:hover{
    color: #0d6efd;
  }
}

#agency-Sharedservices-block{
  display: none;
}

.Checkbox-style1{
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 5px;
  transition: 0.15s;
}

.checkbox-style2{
  width: 0;
}

.checkbox-style2+label{
  background-color: var(--bs-white);
  border: 1px solid #bdbdbd;
  color: #bdbdbd;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: 0.15s;
  cursor: pointer;
}

.checkbox-style2:checked+label{
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}

.form-check-input,.form-check-label{
  cursor: pointer;
}

.AgencyManagemet-item{
  display: inline-block;
  padding: 0.25rem 0.6rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
  color: #6d6d6d;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  text-decoration: none;

  &:hover{
    background-color: #dbdbdb;
    color: #6d6d6d;
  }

  &:active{
    transform: translateY(2px);
  }
}

.AgencyManagemet-item-select{
  background-color:rgba(var(--bs-primary-rgb)) !important;
  color:rgba(var(--bs-white-rgb)) !important;
  font-weight: bold;
}

.table-sticky-wrapper{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/* 捲軸寬度及高度 */
.table-sticky-wrapper::-webkit-scrollbar {
  width: 8px; /*右側捲軸寬度*/
  height: 8px;
}

/* 軌道背景底色 */
.table-sticky-wrapper::-webkit-scrollbar-track {
  background: #9999992a;
  border-radius: 15px;
  margin-top: 2.5rem;
}
 
/* 滑桿顏色 */
.table-sticky-wrapper::-webkit-scrollbar-thumb {
  background: #b6b9c2; 
  border-radius: 15px;
}
/* 滑桿滑鼠滑入時的顏色 */
.table-sticky-wrapper::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}
/* 捲軸兩側頂端的按鈕 */
.table-sticky-wrapper::-webkit-scrollbar-button {
  /*background-color: #a73d1a;*/
  height: 0;
}
/* 捲軸兩側頂端的按鈕滑鼠滑入時的顏色 */
.table-sticky-wrapper::-webkit-scrollbar-button:hover {
  background-color: transparent;
}

.tableStyle{
  width: 100%;
  min-width: 964px;
  border: none;
  font-size: 12.5px;
  position: relative;
  border-collapse: collapse;
  

  & thead{
    position: sticky;
    top: 0;
    background-color: #efefef;
  }

  & thead tr{
    border: none;
  }

  & tbody tr{
    border-bottom: 1px solid #eaeaea;
  }
  
  & th {
    /*border: 1px solid #ccc;*/
    padding: 0.75rem .75rem;
    text-align: left;
    white-space: nowrap;
  }

  & tbody{
    background-color: #fff;

    & a{
      text-decoration: none;
      white-space: nowrap;
    }
  }

  & td{
    padding: 0.75rem .75rem;
    text-align: left;
    border: 1px solid #e9e9e9;
  }
  

}

.tableStyle input[type=checkbox]{
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.tableStyle>tbody>tr:hover{
  background-color: rgb(190 223 255 / 20%);
}

.time-box{
  display: flex;
  align-items: center;
  color: #c3c3c3;
  border: 1px solid #ced4da;
  border-radius: 3px;
  padding: 0.25rem 0.649rem;

  & input{
    width: 76px;
    text-align: center;
    border: none;
    padding-left: 8px;
    padding-right: 8px; 
  }
}

.time-box:has(input[type=number]:focus){
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.time-box-disabled{
  background-color: #f1f1f1;
}

#lightbox-container{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: 0.2s;
  opacity: 0;

  & .lightbox-content{
    width: 75%;
    height: 100%;
    position: absolute;
    min-width: 768px;
    background-color: #fff;
    right: 0;
    overflow-x: auto;

    & > div:first-child{
      overflow: auto;
      scrollbar-gutter: stable;
    }
  }

}

.table-editbox,.table-editbox-pen,.table-editbox-O,.table-editbox-X{
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-editbox-pen{
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.table-editbox-O,.table-editbox-X{
  width: 24px;
  height: 24px;
  font-size: 18px;
}

.carrier-info-grid {
  height: auto;
  width: 100%;
  display: grid;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: auto 1fr 1fr 1fr;  
}

.carrier-info-grid-A {
  padding: 1rem 0;
}

.carrier-info-grid-B {
  padding: 1rem 0;
}


/***自訂上傳***/
.custom-file {
  display: inline-block;
  position: relative;
}

.file-text {
  width: 250px;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.file-text:hover {
  border-color: #3498db;
}

.file-text.dragover {
  border-color: #2ecc71;
  background-color: #ecf9f1;
}


/* --------------------
  Multiselect 核心樣式
-------------------- */
.msd {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  font-family: sans-serif;
}
.msd-input {
  display: flex;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 8px 16px;
  min-height: 40px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}

.msd-values{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.msd-placeholder {
  color: #888;
}

/* 下拉列表 */
.msd-options {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  z-index: 1000;
  top: calc(100% - 3px);
}
/* 展開時顯示 */
.msd.open .msd-options {
  display: block;
}
/* 向上展開 */
.msd.open.up .msd-options {
  bottom: calc(100% - 3px);
  top: auto;
}

/* 選項 */
.msd-option {
  padding: 6px 8px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-color: #dfdfdf;
  display: flex;
  align-items: center;
  transition: 0.1s;
  background-color: #fff;
  margin: 1px;

  &:last-child{
    border-bottom: 0px solid;
  }
  
  &.selected {
    background-color: #cceaff;
    color: #000000;
    box-shadow: 0 0 0 1px #62a1ff;
  }
  
  &:hover{
   /* background-color: #f8f8f8;*/
   filter: brightness(96%);
  }

  & input[type=checkbox]{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
  }
 
  & input[type=checkbox]+label{
    cursor: pointer;
  }
}



/* Tag */
.msd-tag {
  display: inline-flex;
  align-items: center;
  background: #007bff;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.25rem;
  border-radius: 3px;
  font-size: 14px;
}
.msd-remove {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 16px;
  line-height: 1rem;
}

.msd-input:focus {
 box-shadow: 0 0 0 3px #8cb8ffb7;
 outline: none;
}

.msd-option.focused{
  /* background-color: #f8f8f8;*/
  filter: brightness(96%);
}